body {
<<<<<<< HEAD
    margin:0;
    font-family: 'Segoe UI';
    background-color: #eceff1;
}

.navbar {
    width: 100%;
    padding: 13px 0;
    background-color: #2196f3;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    margin: 0px 10px;
}

.navbar .navbar-left {
    float: left;
=======
    margin: 1rem;
    /* background: rgba(65, 65, 65, 1); */
}

.page-container{
    width: 70%;
    margin: auto;
}

.card {
    margin: 1rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
>>>>>>> 806eb66121c3082df0858a3a14274d2c229dd696
}