body {
    margin:0;
    font-family: 'Segoe UI';
    background-color: #eceff1;
}

.navbar {
    width: 100%;
    padding: 13px 0;
    background-color: #2196f3;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    margin: 0px 10px;
}

.navbar .navbar-left {
    float: left;
}