@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
 }

ul {
  list-style-type: none;
   margin: 0;
   padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  width: 100%;
}

.nav-container {
  background: #FFFFFF;

  a {
    color: #212121;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0.7em;

  .logo {
    display: none;
    font-weight: bold;
  }

  nav {
    
    ul {
      display: flex;

      a {
        display: block;
        padding: 0 1em;
      }
    }
  }
}

.hero {
  background: #FFFFFF;
  color: #212121;
  display: flex;
  text-align: center;
  height: 50vh;
  align-content: center;
  align-items: center;
  padding: 2em;

  .hero-title-container {
    .hero-title {
      margin: 0;
    }

    .subtitle {
      font-weight: normal;
    }
  }
}

.hero-nav, .hero-social {
  display: none
}

section {
  padding: 3em 2em;
  text-align: center;
}

.section-title {
  margin: 0;
  margin-bottom: 1em;
}

.about {
  .about-text {
    margin-bottom: 2em;
    line-height: 1.5em;
  }

  .right img {
    border-radius: 50%;
    width: 75%;
  }
}

.skill-container {

  .skill-item-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1em;

    .skill-item {
      padding: 0.3em 1em;
      font-weight: bold;
    }
  }
}

.work-container {
  margin-bottom: 2em;

  .work-label-container {
    margin: 0.5em;

    .work-title {
      font-weight: bold;
      margin-bottom: 0.5em;
    }

    .work-desc {
      line-height: 1.5em;
    }
  }
}

.text-field {
  border: none;
  width: 100%;
  text-align: center;
  background: #eeeeee;
  padding: 1em 0;
  margin-bottom: 0.8em;
}

.button {
  border: 0;
  width: 100%;
  padding: 0.8em 1em;
  background: #212121;
  color: #FFFFFF;
}

.social-container {
  margin-top: 3em;

  ul {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
  }
}

.footer {
  background-color: #FFFFFF;
  padding: 1em;
  text-align: center;
}

@media only screen and (min-width: 360px) {
  header .logo {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  header {
    padding: 2em 4em;
    justify-content: left;

    .logo {
      margin-right: 2em;
    }
  }

  .hero {
    text-align: left;
    padding: 3em 4em;
    display: grid;
    grid-template-columns: 95% 5%;

    .hero-content {
      justify-content: center;

      .hero-title-container {
        margin-bottom: 1em;

        .hero-title {
          padding: 0.1em 0;
        }
      }

      .hero-nav {
        display: inline;
        margin: 2em;
        font-size: 14px;
        
        ul {
          display: flex;
  
          li {
            margin-right: 1.5em;
          }
        }
      }
    }

    .hero-social {
      display: inline;
      
      ul li a svg{
        padding: 0.4em 0;
      }
    }
  }

  section {
    text-align: left;
    padding: 3em 4em;
  }

  .section-title {
    margin-bottom: 0.8em;
  }

  .about {
    display: grid;
    grid-template-columns: 50% 40%;

    .left {
      margin: auto;

      .about-text {
        padding: 0 0.8em;
      }
    }

    .right img {
      float: right;
    }
  }

  .skill-column {
    display: grid;
    grid-template-columns: 33% 33% 33%;

    .skill-container {
      padding: 0.5em 0.8em;

      .skill-title {
        margin-bottom: 0.5em;
      }

      .skill-item-container {
        justify-content: left;
        margin-right: 1em;
        margin-bottom: 2em;

        .skill-item {
          padding: 0;
          padding-right: 1em;
        }
      }
    }
  }

  .work-column {
    display: grid;
    grid-template-columns: 33% 33% 33%;

    .work-container {
      padding: 0.5em 0.8em;

    }
  }

  .message-column {
    display: grid;
    grid-template-columns: 40% 40%;

    .message-form {
      padding: 0 0.8em;
    }

    .social-container{
      margin: auto 4em;

      ul {
        justify-content: space-between;
      }
    }
  }

  .footer {
    padding: 2em;
  }
}

@media only screen and (min-width: 1000px) {
  header {
    padding: 2em 6em;

    .logo {
      font-size: 24px;
      margin-right: 2em;
    }
  }

  .hero {
    padding: 3em 6em;
    height: 70vh;
  }

  section {
    padding: 3em 6em;
  }

  .about {
    grid-template-columns: 60% 40%;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 8em;
  }

  .hero {
    padding: 3em 8em;
  }

  section {
    padding: 3em 8em;
  }

  .about {
    grid-template-columns: 60% 30%;
  }

  
}