@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #212121;
}

p {
  margin: 0;
}

img {
  width: 100%;
}

.nav-container {
  background: #FFFFFF;
}

.nav-container a {
  color: #212121;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0.7em;
}

header .logo {
  display: none;
  font-weight: bold;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul a {
  display: block;
  padding: 0 1em;
}

header nav ul a:hover {
  color: #757575;
}

.hero {
  background: #FFFFFF;
  color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  height: 50vh;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}

.hero .hero-title-container .hero-title {
  margin: 0;
}

.hero .hero-title-container .subtitle {
  font-weight: normal;
}

.hero-nav, .hero-social {
  display: none;
}

section {
  padding: 3em 2em;
  text-align: center;
}

.section-title {
  margin: 0;
  margin-bottom: 1em;
}

.about .about-text {
  margin-bottom: 2em;
  line-height: 1.5em;
}

.about .right img {
  border-radius: 50%;
  width: 75%;
}

.skill-container .skill-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1em;
}

.skill-container .skill-item-container .skill-item {
  padding: 0.3em 1em;
  font-weight: bold;
}

.work-container {
  margin-bottom: 2em;
}

.work-container .work-label-container {
  margin: 0.5em;
}

.work-container .work-label-container .work-title {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.work-container .work-label-container .work-desc {
  line-height: 1.5em;
}

.text-field {
  border: none;
  width: 100%;
  text-align: center;
  background: #eeeeee;
  padding: 1em 0;
  margin-bottom: 0.8em;
}

.text-button {
  padding: 0.8em 1em;
}

.text-button:hover {
  color: #757575;
}

.button {
  border: 0;
  padding: 0.8em 1em;
  background: #212121;
  color: #FFFFFF;
}

.button:hover {
  background: #424242;
}

.social-container {
  margin-top: 3em;
}

.social-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1em;
}

.footer {
  background-color: #FFFFFF;
  padding: 1em;
  text-align: center;
}

@media only screen and (min-width: 360px) {
  header .logo {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  header {
    padding: 2em 4em;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  header .logo {
    margin-right: 2em;
  }
  .hero {
    text-align: left;
    padding: 3em 4em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 95% 5%;
        grid-template-columns: 95% 5%;
  }
  .hero .hero-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero .hero-content .hero-title-container {
    margin-bottom: 1em;
  }
  .hero .hero-content .hero-title-container .hero-title {
    padding: 0.1em 0;
  }
  .hero .hero-content .hero-nav {
    display: inline;
    margin: 2em;
    font-size: 14px;
  }
  .hero .hero-content .hero-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero .hero-content .hero-nav ul li {
    margin-right: 1.5em;
  }
  .hero .hero-social {
    display: inline;
  }
  .hero .hero-social ul li a svg {
    padding: 0.4em 0;
  }
  section {
    text-align: left;
    padding: 3em 4em;
  }
  .section-title {
    margin-bottom: 0.8em;
  }
  .about {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 40%;
        grid-template-columns: 50% 40%;
  }
  .about .left {
    margin: auto;
  }
  .about .left .about-text {
    padding: 0 0.8em;
  }
  .about .right img {
    float: right;
  }
  .skill-column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
  }
  .skill-column .skill-container {
    padding: 0.5em 0.8em;
  }
  .skill-column .skill-container .skill-title {
    margin-bottom: 0.5em;
  }
  .skill-column .skill-container .skill-item-container {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-right: 1em;
    margin-bottom: 2em;
  }
  .skill-column .skill-container .skill-item-container .skill-item {
    padding: 0;
    padding-right: 1em;
  }
  .work-column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
  }
  .work-column .work-container {
    padding: 0.5em 0.8em;
  }
  .message-column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 40%;
        grid-template-columns: 40% 40%;
  }
  .message-column .message-form {
    padding: 0 0.8em;
  }
  .message-column .social-container {
    margin: 0 4em;
  }
  .message-column .social-container ul {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .text-field {
    padding: 1em;
    text-align: left;
  }
  .button {
    padding: 1em 2em;
  }
  .footer {
    padding: 2em;
  }
}

@media only screen and (min-width: 1000px) {
  header {
    padding: 2em 6em;
  }
  header .logo {
    font-size: 24px;
    margin-right: 2em;
  }
  .hero {
    padding: 3em 6em;
    height: 70vh;
  }
  section {
    padding: 3em 6em;
  }
  .about {
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 8em;
  }
  .hero {
    padding: 3em 8em;
  }
  section {
    padding: 3em 8em;
  }
  .about {
    -ms-grid-columns: 60% 30%;
        grid-template-columns: 60% 30%;
  }
}

@media only screen and (min-width: 1500px) {
  header {
    padding: 2em 16em;
  }
  .hero {
    padding: 6em 16em;
  }
  .hero .hero-content .hero-title-container {
    margin-bottom: 3em;
  }
  .hero .hero-content .hero-title-container .hero-title {
    font-size: 3em;
  }
  section {
    padding: 6em 16em;
  }
}
/*# sourceMappingURL=main.css.map */